<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="container">
        <div draggable="true" class="my-face"></div>
        <div class="client-face"></div>

        
        <div class="options">
            <ul>
                <!-- <li id="flip-camera">
                    <img src="/images/switch-camera.png" alt="">
                </li> -->
                <li id="mic">
                    <img class="mic" src="/images/mic.png" alt="">
                </li>
                <li id="video">
                    <img class="video" src="/images/video.png" alt="">
                </li>
                <li  class="end-call">
                    <img  class="end-call" src="/images/end-call.png" alt="">
                </li>
            </ul>

           
        </div>
    </div>

    <script>
        const roomId= "<%= roomId %>"
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="https://kit.fontawesome.com/015a1db8b7.js" crossorigin="anonymous" defer></script>
    <script src="/js/dragAndDrop.js"></script>
    <script src="/js/script.js" defer></script>
</body>
</html>