
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#video-grid{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.p1{
    width: 250px;
    height: 150px;
    object-fit: cover;
    position: absolute;

}

.p2{
    width: 100%;
    height: 100%;
    background-color: blue;
    object-fit: cover;
}